body {
  margin:0;
  background-color:#333333;
}
* {
  margin:0;
}
.card {
  box-shadow: 3px 3px 5px #191919;
}
#topbar {
  height:50px;
  width:100%;
  background-color:#a80606;
}
a {
  text-decoration:none;
}
#logotext {
  color:white;
  font-family:futura;
  font-size:35px;
}
.toplink{
  border-left:2px solid #770404;
  border-right:2px solid #770404;
}
#logo {
  width:200px;
  height:100%;
}
